.Home {
  background-image: url('https://st3.depositphotos.com/1044737/12938/i/950/depositphotos_129385936-stock-photo-young-construction-worker-man-woman.jpg');
  background-repeat: no-repeat;
  background-position: 50% -10%;
  z-index: 2;
}
